<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <a href="./new">Post new message</a>
    <% messages.forEach((message) => { %>
        <div>
            <h6><%= message.user %></h6>
            <p><%= message.text %></p>
            <div><%= message.added %></div>
        </div>
    <%})%>
</body>
</html>